<app-header></app-header>
<div>
    <div class="container-fluid">
        <div class="nav navbar-expand-lg nav-pills" id="v-pills-tab"
        role="tablist" aria-orientation="vertical">
        <button class="nav-link nav-link-margin active"
            id="v-pills-information-tab"
            data-bs-toggle="pill" data-bs-target="#v-pills-information"
            type="button" role="tab" aria-controls="v-pills-information"
            aria-selected="false">Profile</button>
        <button class="nav-link nav-link-margin"
            id="v-pills-update-information-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-update-information"
            type="button" role="tab"
            aria-controls="v-pills-update-information"
            aria-selected="false">Change</button>
    </div>
    </div>
</div>

<div class="tab-content col-4" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-information"
        role="tabpanel"
        aria-labelledby="v-pills-information-tab" tabindex="0">
        <div class="container">
            <div class="row">
                <div class="">
                    <app-profile></app-profile>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-update-information"
        role="tabpanel"
        aria-labelledby="v-pills-update-information-tab"
        tabindex="0">
        <div class="account-container container-fluid">
            <a href="">Hola</a>
        </div></div>
</div>