<app-header></app-header>
<div>
    <div *ngIf="this.isLogin" class="card text-white bg-success mb-3"
        style="max-width: 20rem;">
        <div class="card-header">Sesion Iniciada</div>
        <div class="card-body">
            <h4 class="card-title">Hola {{user.UserName}}</h4>
            <p class="card-text">Some quick example text to build on the card
                title
                and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div *ngIf="!this.isLogin" class="card text-white bg-danger mb-3"
        style="max-width: 20rem;">
        <div class="card-header">Inicia Sesion</div>
        <div class="card-body">
            <h4 class="card-title">No has iniciado sesion</h4>
            <p class="card-text">Some quick example text to build on the card
                title
                and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>