<app-header></app-header>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./assets/img/carousel/fondo.jpg" class="d-block w-100 img-c" alt="..." routerLink="/expansions">
        </div>
        <div class="carousel-item">
            <img src="./assets/img/carousel/fondomaster.png" class="d-block w-100 img-c" alt="..." routerLink="/rules">
        </div>
        <div class="carousel-item">
            <img src="./assets/img/carousel/duelo.jpg" class="d-block w-100 img-c" alt="..." routerLink="/live">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<section class="inicio" id="inicio">
    <div class="content">
        <h3>Chinchorria <span>Yughi</span></h3>
        <p>Yu-Gi-Oh! Trading Card Game es un juego de cartas coleccionables de origen japonés desarrollado y publicado
            por Konami. Está basado en el juego ficticio de Duelo de Monstruos creado por el mangaka Kazuki Takahashi,
            que es el principal argumento que se desarrolla en su popular manga Yu-Gi-Oh!</p>
        <a href="#" class="btn">Regresar</a>
    </div>
    <div class="image">
        <img src="./assets/img/home/clipart427924.png" alt="">
    </div>

</section>