.textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    cursor: text;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border: #fff solid 2px;
    min-height: 50px;
}

.textarea:hover {
    color: #fff;
    border: #fd9048 solid 2px;
    transition: border 0.2s linear;
}

.textarea::after {
    border: #fd9048 solid 2px;
    color: #fff;
}

.textarea:-webkit-autofill,
.textarea:-webkit-autofill:hover,
.textarea:-webkit-autofill:focus,
.textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 50px #202124 inset;
    -webkit-text-fill-color: rgb(255, 255, 255);
}
