<div class="card-aling card-center">
    <div class="card" style="width: 18rem;">
        <img src="./assets/img/cards/{{card.id}}.jpg"
            class="card-img-top" alt="..." height="50%" width="50%">
        <div class="card-body">
            <h6 class="card-title text-subtitle">{{card.name}}</h6>
            <p class="card-text text-subtitle">{{card.desc}}</p>
            <div class="btn-cent">
                <button class="btn btn-primary">More</button>
            </div>
        </div>
    </div>
</div>