<app-header></app-header>
<div class="twitch">
    <div class="twitch-video">
      <iframe
        src="https://player.twitch.tv/?channel=joshuaschmidtygo&parent=localhost&autoplay=true"
        frameborder="0"
        scrolling="no"
        allowfullscreen="true"
        height="100%"
        width="100%">
      </iframe>
    </div>
    <div class="twitch-chat">
        <iframe
        frameborder="0"
        scrolling="no"
        src="https://www.twitch.tv/embed/joshuaschmidtygo/chat?parent=localhost"
        height="100%"
        width="100%">
        </iframe>
    </div>
  </div>